<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/app.css">

<head th:replace="~{fragments/head :: head}"></head>

<body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#fcf8f8] group/design-root overflow-x-hidden">
        <div class="layout-container flex h-full grow flex-col">
            <header th:replace="~{fragments/header :: header}"></header>
            <div class="px-40 flex flex-1 justify-center py-5">

                <div class="px-40 flex flex-1 justify-center py-5">
                    <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">

                        <div class="flex flex-wrap justify-between gap-3 p-4">
                            <p class="text-[#171212] tracking-light text-[32px] font-bold leading-tight min-w-72 font-English" th:text="${isEdit} ? 'Edit My Goal' : 'Add New Goal'">Add New Goal</p>
                        </div>
                        <!-- <h1 th:text="${isEdit} ? '目標を編集' : '目標を追加'"></h1> -->

                        <form th:action="${isEdit} ? @{/goals/{id}(id=${goal.id})} : @{/goals}" th:object="${goal}" method="post">
                            <!-- 共通エラー枠 -->
                            <div th:replace="~{fragments/form_errors :: formErrors}"></div>

                            <div class="flex max-w-[960px] flex-wrap items-end gap-4 px-4 py-3 font-Japanese">
                                <label class="flex flex-col min-w-40 flex-1">
                                    <p class="text-[#171212] text-base font-medium leading-normal pb-2">目標のタイトル</p>
                                    <input type="text" th:field="*{title}" th:errorclass="field-error" placeholder="e.g., AWS SAAに合格する" required class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#171212] focus:outline-0 focus:ring-0 border border-[#e4dddd] bg-white focus:border-[#e4dddd] h-14 placeholder:text-[#826869] p-[15px] text-base font-normal leading-normal" />
                                </label>
                                <div th:errors="*{title}" style="color:red"></div>
                            </div>

                            <div class="flex max-w-[960px] flex-wrap items-end gap-4 px-4 py-3 font-Japanese">
                                <label class="flex flex-col min-w-40 flex-1">
                                    <p class="text-[#171212] text-base font-medium leading-normal pb-2">目標達成日</p>
                                    <input type="date" th:field="*{targetDate}" th:errorclass="field-error" placeholder="e.g., 2025-08-31" required class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#171212] focus:outline-0 focus:ring-0 border border-[#e4dddd] bg-white focus:border-[#e4dddd] h-14 placeholder:text-[#826869] p-[15px] text-base font-normal leading-normal" />
                                </label>
                                <div th:errors="*{targetDate}" style="color:red"></div>
                            </div>

                            <div class="flex max-w-[960px] flex-wrap items-end gap-4 px-4 py-3 font-Japanese">
                                <label class="flex flex-col min-w-40 flex-1">
                                    <p class="text-[#171212] text-base font-medium leading-normal pb-2">目標の説明</p>
                                    <textarea th:field="*{description}" th:errorclass="field-error" placeholder="目標についての説明を入力してください" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#171212] focus:outline-0 focus:ring-0 border border-[#e4dddd] bg-white focus:border-[#e4dddd] min-h-36 placeholder:text-[#826869] p-[15px] text-base font-normal leading-normal"></textarea>
                                </label>

                                <div th:errors="*{description}" style="color:red"></div>
                            </div>

                            <div class="flex max-w-[960px] flex-wrap items-end gap-4 px-4 py-3 font-Japanese">
                                <label class="flex flex-col min-w-40 flex-1">
                                    <p class="text-[#171212] text-base font-medium leading-normal pb-2">目標ステータス</p>
                                    <select th:field="*{status}" th:errorclass="field-error" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#171212] focus:outline-0 focus:ring-0 border border-[#e4dddd] bg-white focus:border-[#e4dddd] placeholder:text-[#826869] p-[15px] text-base font-normal leading-normal">
                                        <option value="">-- 選択してください --</option>
                                        <option value="NOT_STARTED">Not Started</option>
                                        <option value="ACTIVE">Active</option>
                                        <option value="COMPLETED">Completed</option>
                                    </select>
                                </label>
                                <div th:errors="*{status}" style="color:red"></div>
                            </div>

                            <div class="flex px-4 py-3 justify-end">

                                <div class="">
                                    <a href="/goals">
                                        <button class="flex min-w-[84px] max-w-[960px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#56423E] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]">
                                            <span class="truncate">登録せずに一覧に戻る</span>
                                        </button>
                                    </a>
                                </div>

                                <div class="ml-3">
                                    <button class="flex min-w-[84px] max-w-[960px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#ea2832] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]" type="submit">
                                        <span class="truncate">目標を登録</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </div>
    </div>

</body>

</html>
