spring:
  datasource:
    url: jdbc:h2:mem:studytracker;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  thymeleaf:
    prefix: file:src/main/resources/templates/
    suffix: .html
    cache: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
